$color_main_dark: #02293C;
$color_main_light: #06689B;
$color_main_primary: #1485FF;
$color_main_alternative: #FDA14D;

$color_text_light: #ffffff;
$color_text_secondary: #4E4E4E;
$color_text_dark: #02293C;